/** Styles that relate to the card suits **/

.suit {
	height: 100%;
	background-size: 100% auto;
	background-position: center center;
	background-repeat: no-repeat;
	position: relative;

	// Hearts
	[data-suit="h"] & {
		background-image: url("../images/suit-h.svg");
	}

	// Diamonds
	[data-suit="d"] & {
		background-image: url("../images/suit-d.svg");
	}

	// Clubs
	[data-suit="c"] & {
		background-image: url("../images/suit-c.svg");
	}

	// Spades
	[data-suit="s"] & {
		background-image: url("../images/suit-s.svg");
	}
}